:root{
    --mainBlue :#2a2a72;
    --ligthBlue : #009ffd;
    --mainWhite : #f3f3f3;
    --mainDark : #232528;
    --mainYellow : #ffa400;
}

body{
    font-family: 'Oswald',SansSerif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark)!important;
}
.text-title{
    font-family: 'Permanent Marker',cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-blue{
    color: var(--mainBlue);
}
.text-bright{
    color: var(--ligthBlue);
}

.login{
    border: 1px solid black;
    margin-top: 9%;
    padding: 20px;
    margin-left: 39%;
    max-width: 21% !important;
}
.form-width{
    width: 221% !important;
}
.center{
    text-align: center;
    display: block !important;
}
.register{
    border: 1px solid black;
    margin-top: 5%;
    padding: 20px;
    margin-left: 39%;
    max-width: 21% !important;
}